<div class="page-header">
  <%= link_to publications_path, class: 'btn btn-default' do %>
    All Publications
  <% end %>
  <%= link_to edit_publication_path(@publication), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1><%= @publication.name %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @publication.name %></dd>
</dl>

<div class="grid-container">
  <%= @publication.broadcasts.each do |broadcast| %>
    <!-- card start -->
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="http://via.placeholder.com/268x180" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"> <%= broadcast.subject %> </h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>    
    <!-- card finish -->
  <% end %>
</div>