<div class="page-header">
  <%= link_to publications_path, class: 'btn btn-default' do %>
    All Publications
  <% end %>
  <%= link_to edit_publication_path(@publication), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1><%= @publication.name %></h1>

  <%= render "form_to_initialize_broadcast" %>

</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @publication.name %></dd>
</dl>

<div class="grid-container">
  <%= render partial: "card" , collection: @publication.broadcasts %>

</div>