<h1>New Conversation</h1>


<%= form_with model: @conversation, url: contact_conversations_url do |form| %>
  <div class="mb-3">
    <%= form.label :recipient_group %>

    <p>
      <%= form.select :recipient_group, 
                      options_for_select(@recipient_groups, @recipient_groups.first)
      %>
    </p>
  </div>
  <div class="mb-3">
    <%= form.label :subject %>
    <%= form.text_field :subject, placeholder: "subject" %>
  </div>

  <div class="mb-3">
    <%= form.label :rich_body %>
      <%= form.rich_text_area :rich_body %>
  </div>

  <%= form.submit %>
<% end %>