<style>

  
:target {
	color: white;
	background: #f60;
  border: 1px solid;
  border-color: #D4D4D4;
}

</style>
  <%= render "builder_nav" %>
<hr>

  <%= form_for @broadcast, method: :put, url: wizard_path, data: {turbo: false } do |form| %>

  <% if @broadcast.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@broadcast.errors.count, "error") %> prohibited this broadcast from being saved:</h2>

      <ul>
      <% @broadcast.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <span>Publication name</span>
    &nbsp;&nbsp;
    <strong><%= @broadcast.publication.name %></strong>
  </div>
  <div class="mb-3">
    <span>Sender name</span>
    &nbsp;&nbsp;
    <strong>
      <%= @broadcast.publication.contact.name %>
    </strong>
  </div>
  <div class="mb-3">
    <span>Sender email</span>
    &nbsp;&nbsp;
    <strong>
      <%= @broadcast.publication.contact.email %>
    </strong>
  </div>
  
  <!-- hidden values for sender -->
  <%= form.hidden_field :sender_name, value: @broadcast.publication.contact.name %>
  <%= form.hidden_field :sender_email, value: @broadcast.publication.contact.email  %>

  <div id="subject" class="mb-3">
    <%= form.label :subject, class: 'form-label' %>
    <%= form.text_field :subject, class: 'form-control' %>
  </div>

  <div id="preview"  class="mb-3">
    <%= form.label :preview, class: 'form-label' %>
    <%= form.text_field :preview, class: 'form-control' %>
  </div>

  <div id="recipients" class="mb-3  >
    <%= form.label :recipients_group, class: 'form-label' %> <br>
    <%= form.select :recipients_group, Contact.roles.collect { |role| [ role[0], role[0] ] } %>

  </div>

      <%= form.submit 'Next Step', class:"btn btn-primary" %>

<% end %>

<%#= link_to 'skip', next_wizard_path %>