<div id="<%= dom_id broadcast %>">
  <p>
    <strong>Name:</strong>
    <%= broadcast.name %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= broadcast.subject %>
  </p>

  <p>
    <strong>Preview:</strong>
    <%= broadcast.preview %>
  </p>

  <p>
    <strong>Sender name:</strong>
    <%= broadcast.sender_name %>
  </p>

  <p>
    <strong>Sender email:</strong>
    <%= broadcast.sender_email %>
  </p>

  <p>
    <strong>Recipients group:</strong>
    <%= broadcast.recipients_group %>
  </p>

  <p>
    <strong>Send at:</strong>
    <%= broadcast.send_at %>
  </p>

</div>
