


<div class="row">
  <div class="col-sm-6">
    <h1>Broadcasts</h1>
  </div>

  <div class="col-sm-6 text-end">

  <%= render "form_to_initialize" %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            <th>Subject</th>
            <th>Preview</th>
            <th>Sender name</th>
            <th>Sender email</th>
            <th>Recipients group</th>
            <th>Send at</th>
            
      </tr>
    </thead>

    <tbody>
      <% @broadcasts.each do |broadcast| %>
        <%= content_tag :tr, id: dom_id(broadcast), class: dom_class(broadcast) do %>
          
            <td><%= link_to broadcast.name, broadcast %></td>
          

                      <td><%= broadcast.subject %></td>
                      <td><%= broadcast.preview %></td>
                      <td><%= broadcast.sender_name %></td>
                      <td><%= broadcast.sender_email %></td>
                      <td><%= broadcast.recipients_group %></td>
                      <td><%= broadcast.send_at %></td>
          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
