<div class="page-header">
  <%= link_to publication_path(@broadcast.publication), class: 'btn btn-default' do %>
    << Back to <%= @broadcast.publication.name %>
  <% end %>
  <%= link_to edit_broadcast_path(@broadcast), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>
    <%= @broadcast.subject %>
  </h1>
</div>

<%= render "broadcast" %>

